.container {
    padding: 12px 8px;
    outline: none;
}

.container:focus {
    background-color: #e4f5f7;
}

.container:hover {
    background-color: #e6ebf4;
}

.radio-container {
    padding: 8px 0 0;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container input[type="radio"]:checked + label {
    background-color: var(--primary-color);
    color: white;
}

.radio-container label {
    display: inline-block;
    width: 48px;
    text-align: center;
    padding: 4px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

:not(.disabled) > .radio-container label:nth-of-type(odd) {
    border-right: 1px solid var(--primary-color);
    border-radius: 4px 0 0 4px;
}

.disabled > .radio-container label:nth-of-type(odd) {
    border-right: 1px solid #bdc0cf;
    border-radius: 4px 0 0 4px;
}

:not(.disabled) > .radio-container label:nth-of-type(even) {
    border-left: 1px solid var(--primary-color);
    border-radius: 0 4px 4px 0;
}

.disabled > .radio-container label:nth-of-type(even) {
    border-left: 1px solid #bdc0cf;
    border-radius: 0 4px 4px 0;
}

.disabled {
    pointer-events: none;
    background-color: #e6ebf4;
    color: #bdc0cf;
}

.disabled label {
    border-color: #bdc0cf;
    color: #bdc0cf;
}
