.container {
    padding: 12px 8px;
    outline: none;
}

.container:focus {
    background-color: #e4f5f7;
}

.container:hover{
    background-color: #e6ebf4;
}

.disabled {
    pointer-events: none;
    background-color: #e6ebf4;
    color: #bdc0cf;
}
